*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.layout {
  width: 100%;
  display: grid;
  grid:
    "main" 1fr
    / auto;
  gap: 8px;
}
header{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
}
header h1, h2{
    width: 100%;
    text-align: center;
    position: absolute;
    top: -1000%;
}
header h1{
    background-color: aqua;
}
header h2{
    background-color: lightgreen;
}
.main {
  grid-area: main;
}
#icons{
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 1.5rem;
}
.main .box-1{
    border: 1px solid #000;
    width: 80%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px;
}
.main .box-1 button{
    border: none;
    font-size: 1.5rem;
    font-family: khmer;
    font-weight: 800;
    width: 90%;
    height: 10vh;
    text-align: center;
    margin-top: 6%;
    margin-left: 5%;
    box-shadow: 0 0 10px #000;	
    border-radius: 10px;
}
.main .box-1 #btn1{
    background-color: aqua;
}
.main .box-1 #btn2{
    background-color: lightgreen;
}
.main .box-1 .border{
    width: 90%;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .box-2{
    border: 1px solid #000;
    width: 80%;
    height: 50vh;
    position: absolute;
    top: -1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px;
}
.main .box-2 h1{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.main .box-2 button{
    border: none;
    width: 95%;
    height: 10vh;
    margin-top: 3%;
    margin-left: 2.5%;
    font-family: khmer;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    color: #fff;
}
.main .box-2 #btn1{
    background-color: cadetblue;
}
.main .box-2 #btn2{
    background-color: blueviolet;
}
.main .box-2 #btn3{
    background-color: chartreuse;
    color: black;
}
.main .box-3{
    border: 1px solid #000;
    width: 80%;
    height: 50vh;
    position: absolute;
    top: -1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px;
}
.main .box-3 button{
    border: none;
    width: 95%;
    height: 10vh;
    margin-top: 3%;
    margin-left: 2.5%;
    font-family: khmer;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    color: #fff;
}
.main .box-3 #btn1{
    background-color: cadetblue;
}
.main .box-3 #btn2{
    background-color: blueviolet;
}
.main .box-3 #btn2 a{
    text-decoration: none;
    color: white;
}
.main .box-3 #btn3{
    background-color: chartreuse;
}
.main .box-3 #btn3 a{
    text-decoration: none;
    color: black;
}
.main .news {
    width: 100%;
    position: absolute;
    top: -1000%;
}
.main .news h1{
    font-family: khmer;
    font-size: 1.5rem;
    text-align: center;
}
.main .news table{
    border: 1px solid;
    margin-top: 10px;
    width: 100%;
}
.main .news table tr{
    border: 1px solid;
}
.main .news table tr td{
    border: 1px solid;
    font-size: 1rem;
    font-family: khmer;
    text-align: center;
}
.main .news table tr #name{
    text-align: left;
}
.main .student{
    width: 100%;
    position: absolute;
    top: -1000%;
}
.main .student h1{
    font-family: khmer;
    font-size: 1.5rem;
    text-align: center;
}
.main .student table{
    border: 1px solid;
    margin-top: 10px;
    width: 100%;
}
.main .student table tr{
    border: 1px solid;
}
.main .student table tr td{
    border: 1px solid;
    font-size: 1rem;
    font-family: khmer;
    text-align: center;
}
.main .student table tr #name{
    text-align: left;
}
.main .history-tch{
    width: 100%;
    position: absolute;
    top: -1000%;
}
.main .history-tch h1{
    font-family: khmer;
    font-size: 1.5rem;
    text-align: center;
}
.main .history-tch p{
    position: absolute;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
}
.main .box-4{
    border: 1px solid #000;
    width: 80%;
    height: 50vh;
    position: absolute;
    top: -1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px;
}
.main .box-4 button{
    border: none;
    width: 95%;
    height: 10vh;
    margin-top: 3%;
    margin-left: 2.5%;
    font-family: khmer;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    color: #fff;
}
.main .box-4 #btn1{
    background-color: cadetblue;
}
.main .box-4 #btn2{
    background-color: blueviolet;
}
.main .box-4 #btn3{
    background-color: chartreuse;
}
.main .math{
    position: absolute;
    top: -1000%;
    width: 100%;
}
.main .math h1{
    font-family: khmer;
    font-size: 1.5rem;
    text-align: center;
}
.main .math table{
    border: 1px solid;
    margin-top: 10px;
    width: 100%;
}
.main .math table tr{
    border: 1px solid;
}
.main .math table tr td{
    border: 1px solid;
    font-size: 1rem;
    font-family: khmer;
    text-align: center;
}
.main .math table tr .title{
    background-color: black;
    color: white;
    font-weight: 800;
}
.main .khmer{
        width: 95%;
        height: 70vh;
        position: absolute;
        top: -1000%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #000;
        box-shadow: 0 0 10px;
    }
    .main .khmer button{
        width: 90%;
        height: 5vh;
        border: none;
        margin-top: 13.5px;
        margin-left: 70px;
        font-size: 1.3rem;
    }
    .main .khmer .btn1{
        background-color: aqua;
    }
    .main .khmer .btn2{
        background-color: black;
        color: white;
    }
    .main .khmer .btn3{
        background-color: yellow;
    }
    .main .khmer .btn4{
        background-color: yellowgreen;
    }
    .main .khmer .btn5{
        background-color: blueviolet;
        color: white
    }
    .main .khmer .btn6{
        background-color: blue;
        color: white
    }
    .main .khmer .btn7{
        background-color: peru;
        color: white
    }
    .main .khmer .btn8{
        background-color: grey;
        color: white
    }
    .main .khmer .btn9{
        background-color: red;
        color: white
    }
    .main .khmer .btn10{
        background-color: goldenrod;
        color: white;
    }
    .main .btn1-1{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: -1000%;
        box-shadow: 0 0 10px;
    }
    .main .btn1-1 button{
        width: 90%;
        height: 10vh;
        margin-top: 15px;
        font-size: 1.5rem;
        border: none;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .main .btn1-1 .btn1{
        background-color: black;
        color: white;
    }
    .main .btn1-1 .btn2{
        background-color: aqua;
    }
    .main .btn1-1 .btn3{
        background-color: aquamarine;
    }
    .main .btn1-1 .btn4{
        background-color: blue;
        color: white;
    }
    .main .reading{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .reading table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .reading table tr{
        border: 1px solid #000;
    }
    .main .reading table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings1{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings1 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings1 table tr{
        border: 1px solid #000;
    }
    .main .readings1 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings12{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings12 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings12 table tr{
        border: 1px solid #000;
    }
    .main .readings12 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings13{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings13 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings13 table tr{
        border: 1px solid #000;
    }
    .main .readings13 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }








@media (max-width: 980px) {
    .layout {
      grid:
        "main" 1fr
        / auto;
    }
    header{
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 0;
    }
    header h1, h2{
        width: 100%;
        text-align: center;
        position: absolute;
        top: -1000%;
    }
    header h1{
        background-color: aqua;
    }
    header h2{
        background-color: lightgreen;
    }
    .main {
      grid-area: main;
    }
    #icons{
        position: absolute;
        top: 45px;
        left: 20px;
        font-size: 1.5rem;
    }
    .main .box-1{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px;
    }
    .main .box-1 button{
        border: none;
        font-size: 1.5rem;
        font-family: khmer;
        font-weight: 800;
        width: 90%;
        height: 10vh;
        text-align: center;
        margin-top: 25%;
        margin-left: 5%;
        box-shadow: 0 0 10px #000;	
        border-radius: 10px;
    }
    .main .box-1 #btn1{
        background-color: aqua;
    }
    .main .box-1 #btn2{
        background-color: lightgreen;
    }
    .main .box-1 .border{
        width: 90%;
        border: 1px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main .box-2{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: -1000%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px;
    }
    .main .box-2 h1{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    .main .box-2 button{
        border: none;
        width: 95%;
        height: 10vh;
        margin-top: 12.5%;
        margin-left: 2.5%;
        font-family: khmer;
        font-size: 1.3rem;
        font-weight: 700;
        box-shadow: 0 0 5px;
        border-radius: 10px;
        color: #fff;
    }
    .main .box-2 #btn1{
        background-color: cadetblue;
    }
    .main .box-2 #btn2{
        background-color: blueviolet;
    }
    .main .box-2 #btn3{
        background-color: chartreuse;
        color: black;
    }
    .main .box-3{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: -1000%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px;
    }
    .main .box-3 button{
        border: none;
        width: 95%;
        height: 10vh;
        margin-top: 12.5%;
        margin-left: 2.5%;
        font-family: khmer;
        font-size: 1.3rem;
        font-weight: 700;
        box-shadow: 0 0 5px;
        border-radius: 10px;
        color: #fff;
    }
    .main .box-3 #btn1{
        background-color: cadetblue;
    }
    .main .box-3 #btn2{
        background-color: blueviolet;
    }
    .main .box-3 #btn2 a{
        text-decoration: none;
        color: white;
    }
    .main .box-3 #btn3{
        background-color: chartreuse;
    }
    .main .box-3 #btn3 a{
        text-decoration: none;
        color: black;
    }
    .main .news {
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .news h1{
        font-family: khmer;
        font-size: 1.5rem;
        text-align: center;
    }
    .main .news table{
        border: 1px solid;
        margin-top: 10px;
        width: 100%;
    }
    .main .news table tr{
        border: 1px solid;
    }
    .main .news table tr td{
        border: 1px solid;
        font-size: 1rem;
        font-family: khmer;
        text-align: center;
    }
    .main .news table tr #name{
        text-align: left;
    }
    .main .student{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .student h1{
        font-family: khmer;
        font-size: 1.5rem;
        text-align: center;
    }
    .main .student table{
        border: 1px solid;
        margin-top: 10px;
        width: 100%;
    }
    .main .student table tr{
        border: 1px solid;
    }
    .main .student table tr td{
        border: 1px solid;
        font-size: 1rem;
        font-family: khmer;
        text-align: center;
    }
    .main .student table tr #name{
        text-align: left;
    }
    .main .history-tch{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .history-tch h1{
        font-family: khmer;
        font-size: 1.5rem;
        text-align: center;
    }
    .main .history-tch p{
        position: absolute;
        font-size: 1rem;
        margin-top: 10px;
        margin-left: 10px;
    }
    .main .box-4{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: -1000%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px;
    }
    .main .box-4 button{
        border: none;
        width: 95%;
        height: 10vh;
        margin-top: 12.5%;
        margin-left: 2.5%;
        font-family: khmer;
        font-size: 1.3rem;
        font-weight: 700;
        box-shadow: 0 0 5px;
        border-radius: 10px;
        color: #fff;
    }
    .main .box-4 #btn1{
        background-color: cadetblue;
    }
    .main .box-4 #btn2{
        background-color: blueviolet;
    }
    .main .box-4 #btn3{
        background-color: chartreuse;
    }
    .main .math{
        position: absolute;
        top: -1000%;
        width: 100%;
    }
    .main .math h1{
        font-family: khmer;
        font-size: 1.5rem;
        text-align: center;
    }
    .main .math table{
        border: 1px solid;
        margin-top: 10px;
        width: 100%;
    }
    .main .math table tr{
        border: 1px solid;
    }
    .main .math table tr td{
        border: 1px solid;
        font-size: 1rem;
        font-family: khmer;
        text-align: center;
    }
    .main .math table tr .title{
        background-color: black;
        color: white;
        font-weight: 800;
    }
    .main .khmer{
        width: 95%;
        height: 70vh;
        position: absolute;
        top: -1000%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #000;
        box-shadow: 0 0 10px;
    }
    .main .khmer button{
        width: 90%;
        height: 5vh;
        border: none;
        margin-top: 13.5px;
        margin-left: 20px;
        font-size: 1.3rem;
    }
    .main .khmer .btn1{
        background-color: aqua;
    }
    .main .khmer .btn2{
        background-color: black;
        color: white;
    }
    .main .khmer .btn3{
        background-color: yellow;
    }
    .main .khmer .btn4{
        background-color: yellowgreen;
    }
    .main .khmer .btn5{
        background-color: blueviolet;
        color: white
    }
    .main .khmer .btn6{
        background-color: blue;
        color: white
    }
    .main .khmer .btn7{
        background-color: peru;
        color: white
    }
    .main .khmer .btn8{
        background-color: grey;
        color: white
    }
    .main .khmer .btn9{
        background-color: red;
        color: white
    }
    .main .khmer .btn10{
        background-color: goldenrod;
        color: white;
    }
    .main .btn1-1{
        border: 1px solid #000;
        width: 80%;
        height: 50vh;
        position: absolute;
        top: -1000%;
        box-shadow: 0 0 10px;
    }
    .main .btn1-1 button{
        width: 90%;
        height: 10vh;
        margin-top: 15px;
        font-size: 1.5rem;
        border: none;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .main .btn1-1 .btn1{
        background-color: black;
        color: white;
    }
    .main .btn1-1 .btn2{
        background-color: aqua;
    }
    .main .btn1-1 .btn3{
        background-color: aquamarine;
    }
    .main .btn1-1 .btn4{
        background-color: blue;
        color: white;
    }
    .main .reading{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .reading table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .reading table tr{
        border: 1px solid #000;
    }
    .main .reading table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings1{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings1 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings1 table tr{
        border: 1px solid #000;
    }
    .main .readings1 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings12{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings12 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings12 table tr{
        border: 1px solid #000;
    }
    .main .readings12 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }
    .main .readings13{
        width: 100%;
        position: absolute;
        top: -1000%;
    }
    .main .readings13 table{
        width: 100%;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .main .readings13 table tr{
        border: 1px solid #000;
    }
    .main .readings13 table tr td{
        border: 1px solid #000;
        text-align: center;
        font-size: 1.3rem;
    }


}